/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* App styles */

@media (min-width: 768px) {
  section {
    max-width: 60%;
    margin: auto;
  }
}

header {
  text-align: center;
}

#q {
  border-radius: 2px;
}

#results {
  list-style: none;
  text-align: left;
  background-color: #888;

  li {
    padding: 5px;
    margin: 0;
    cursor: pointer;

    transition: background 500ms, color 500ms, height 100ms;

    &:hover {
      background-color: #0042ff;
      color: #0042ff;
    }

    &.draggable-source--is-dragging {
      background-color: #0042ff;
      color: #0042ff;
    }

    &.draggable--over {
      background-color: #0042ff;
      color: #0042ff;
      background-style: dashed;
    }

    &.draggable-mirror {
      background-color: #0042ff;
      color: #0042ff;
    }

    .data {
      margin: 5px;
      padding: 5px;
      padding-left: 20px;
      background-color: #fff;

      .handle {
        float: right;
        position: relative;
        top: -3px;
        margin-right: 10px;

        .bar {
          width: 20px;
          height: 2px;
          background-color: black;
          margin: 6px 0;
        }
      }
    }
  }
}
